<section>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="card">
                    <div class="card-block">
                      <h1 class="card-title">Items</h1>
                        <input-popup popup-id="items" title="popupTitle" inputs="inputs"
                            submit-name="submitName" submit-fn="add_item()"
                            btn-class="btn btn-block btn-info glyphicon glyphicon glyphicon-plus-sign">     
                        </input-popup>
                      <hr class="light">
                    </div>
                  </div>
           </div>
        </div> 
        
   
        
        <div ng-repeat="item in items">
            <div class="row">   

                <div class="col-lg-10 col-lg-offset-1">
                    <div class="card hash-card">
                        <div class="col-sm-2 pull-right">
                            <input-popup popup-id="edit" title="edit_popupTitle" inputs="edit_inputs"
                                submit-name="edit_submitName" submit-fn="edit_item(item)"
                                btn-class="btn btn-info glyphicon glyphicon-edit">     
                            </input-popup>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <input-popup ng-if="!item.isAuction" popup-id="auction" title="auction_popupTitle" inputs="auction_inputs"
                                submit-name="auction_submitName" submit-fn="auction_item(item)"
                                btn-class="btn btn-info fa fa-gavel">     
                            </input-popup>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <img  height="100%" width="100%" src="img/hashtagories.png"/>
                            </div>
                            <div class="col-sm-8">
                                <h4>{{item.title}} <small class="text-muted" ng-if="item.isAuction">(at auction!!!)</small></h4>

                                  
                                <p class="card-text">
                                    {{item.description}}
                                </p>
                                
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
            <br/>
        </div>

        
       
        
    </div>

    
</section>
