<section>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="card">
                    <div class="card-block">
                      <h1 class="card-title">Items</h1>
                      <hr class="light">
                    </div>
                  </div>
           </div>
        </div> 
        
        <div ng-repeat="item in items">
            <div class="row">   

                <div class="col-lg-10 col-lg-offset-1">
                    <div class="card hash-card">
                        <div class="row">
                            <div class="col-sm-2">
                                <img  height="100%" width="100%" src="img/hashtagories.png"/>
                            </div>
                            <div class="col-sm-8">
                                <h4>{{item.title}} (at auction!!!)</h4>
                                <p class="card-text">
                                    {{item.description}}
                                </p>
                                <span ng-click="edit_item()" class="glyphicon glyphicon-edit "></span>
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
            <br/>
        </div>

        
       
        
    </div>

    
</section>
