<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hashtagories</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" 
      type="image/ico" 
      href="img/favicon_hashtagories.ico">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="lib/bootstrap-3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap-3.3.6/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp" class="bg-main">
    
    <nav ng-controller="navbarCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-if="logged_in" ng-click="watchlist_filter()" class="navbar-brand page-scroll" href="">Following</a>
                
                           
                <!--<a class="navbar-brand page-scroll" href=""></a>-->
            </div>
            

            <!--<img height="4%" width="4%" src="img/hashtagories.png"/>-->

            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-lg-5 pull-right">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right"> 

                    <form class="navbar-form navbar-left">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search" >
                        <span class="input-group-addon">
                            <button ng-click="search_filter()" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                    </form> 

                        <li >
                            <a class="page-scroll" href="#/feed">Home</a>
                        </li>
                        <li >

                            <a ng-if="logged_in" id="menu" class="page-scroll dropdown" href="" data-toggle="dropdown">
                                Account

                                <ul class="dropdown-menu">
                                  <li><a href="#/account">Personal Details</a></li>
                                  <li><a href="#/items">Items</a></li>
                                  <li><a href="#/feedback">Feedback</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#" ng-click="log_out()">Log out</a></li>
                                </ul>

                            </a>

                            <a ng-if="!logged_in" href="#/login">Log in</a>
                        </li>

                    </ul>
                </div>
            </div>
        

        </div>
     
    </nav>


  <div ng-view></div>

  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="navbar.js"></script>
  <script src="viewLogin/login.js"></script>
  <script src="viewItems/items.js"></script>
  <script src="viewAuction/auction.js"></script>
  <script src="viewFeed/feed.js"></script>
  <script src="viewFeedback/feedback.js"></script>
  <script src="viewAccount/account.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  
</body>
</html>
