<section>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="card">
                    <div class="card-block">
                      <h1 class="card-title">Items and Auctions</h1>
                        <input-popup popup-id="items" title="popupTitle" inputs="inputs"
                            submit-name="submitName" submit-fn="add_item()"
                            btn-class="btn btn-block btn-info glyphicon glyphicon glyphicon-plus-sign">     
                        </input-popup>
                      <hr class="light">
                    </div>
                  </div>
           </div>
        </div> 
        
        <div class="row">
        <div class="col-lg-6">  
            <h3 class="text-center">Auctions</h3>
            <hr/>
        <div ng-if="auction_items.length > 0" class="hash-card-list">    
        <div ng-repeat="auction in auction_items track by $index"  style="border-radius: inherit">
            
            <div class="row"  style="border-radius: inherit">   

                <div class="col-lg-12"  style="border-radius: inherit">
                    <div ng-if="$index !== 0" class="hash-card-division"></div>
                    <div class="card hash-card-no-border">
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-if="auction.image_ref" height="100px" width="100px" ng-src="{{auction.image_ref}}" alt="item image" />
                                <img ng-if="!auction.image_ref" height="100px" width="100px" ng-src="http://www.mariowiki.com/images/thumb/0/02/Question_Block_NSMB.png/120px-Question_Block_NSMB.png" alt="item image" />
                            </div>
                            <div class="col-sm-8" style="margin-left: 1em">

                                <h4 class="card-title"><a href="#/auction?{{auction.auction_id}}">{{auction.title}}</a>
                                    <small class="text-muted"> @{{auction.username}}</small>
                                    <br/><small class="text-muted"> Finishes in <time-difference date="auction.end_time"></time-difference>
                                    <span ng-show="{{auction.current_bid}}"><br/>Highest bid: £{{auction.current_bid}}</span></small></h4>
                                <p class="card-text">
                                    {{auction.description}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
            <br/>
        </div>        
        </div>
        </div>

        
        <!--<hr class="light">-->
        <div class="col-lg-6">
            <h3 class="text-center">Items</h3>
            <hr/>
            
<!--            <div class="col-lg-12 text-center">
                <dir-pagination-controls></dir-pagination-controls>
            </div>-->
            
        <div ng-if="items.length > 0" class="hash-card-list">
        <div ng-repeat="item in items track by $index" style="border-radius: inherit">
            <div class="row" style="border-radius: inherit">   

                <div class="col-lg-12" style="border-radius: inherit">
                    <div ng-if="$index !== 0" class="hash-card-division"></div>
                    <div class="card hash-card-no-border">
                   
                            <div ng-if="item.sold" class="ribbon-wrapper"><div class="ribbon-sold">SOLD</div></div>    
                            
                            <div ng-if="!item.sold" class="pull-right " style="padding: 0.25em;">
                                <button ng-click="delete_item(item)" type="button" class="btn btn-info fa fa-times"></button>    
                            </div>
                        
                            <input-popup ng-if="!item.sold" class="pull-right" popup-id="edit_{{item.item_id}}" title="edit_popupTitle" inputs="edit_inputs"
                                submit-name="edit_submitName" submit-fn="edit_item(item)"
                                setup-fn="setup_edit(item)"
                                btn-class="btn btn-info fa fa-edit">     
                            </input-popup>
                        
                            <input-popup ng-if="!item.sold" class="pull-right" popup-id="auction_{{item.item_id}}" title="auction_popupTitle" inputs="auction_inputs"
                                submit-name="auction_submitName" submit-fn="auction_item(item)"
                                btn-class="btn btn-info fa fa-gavel">     
                            </input-popup>

                        
                            
                     
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-if="item.image_ref" height="100%" width="100%" ng-src="{{item.image_ref}}"/>
                                <img ng-if="!item.image_ref" height="100%" width="100%" ng-src="http://www.mariowiki.com/images/thumb/0/02/Question_Block_NSMB.png/120px-Question_Block_NSMB.png"/>
                            </div>
                            <div class="col-sm-6">
                                <h4>{{item.title}}</h4>

                                  
                                <p class="card-text">
                                    {{item.description}}
                                </p>
                                
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
            <br/>
        </div>
        
        </div>

<!--        <div class="col-lg-12 text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>-->
        </div>
    </div>
        <br/>
    </div>

    
</section>
