<section>
    
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="card">
                    
                    <h1 class="text-muted">@{{username}} <small>{{rating}}/100</small></h1>
                    <hr class="light">

                  </div>
           </div>
        </div> 
        
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="card hash-card">
                    <div class="card-block text-center">
                        <h1 class="text-muted">Received Feedback</h1>
                    </div>
                    <hr/>
                    
 
                </div>
                <div class="card hash-card" ng-repeat="feedback in feedbacks">
                    <div ng-if="feedback.buyer_id !== user_id">
                        <h4 class="text-muted">@{{username}} by <a ng-href="#/feedback?{{feedback.buyer_id}}">@{{feedback.other_username}}</a> <small ng-if="feedback.buyer_rating">{{feedback.buyer_rating}}/100</small> <small>(buyer)</small></h4>
                        <p> {{feedback.buyer_text}}</p>
                        <p ng-if="!feedback.buyer_text"> NO FEEDBACK </p>
  
                    </div>
                    <div ng-if="feedback.seller_id !== user_id">
                        <h4 class="text-muted">@{{username}} by <a ng-href="#/feedback?{{feedback.seller_id}}">@{{feedback.other_username}}</a> <small ng-if="feedback.seller_rating">{{feedback.seller_rating}}/100</small> <small>(seller)</small></h4>
                        <p> {{feedback.seller_text}}</p>
                        <p ng-if="!feedback.seller_text"> NO FEEDBACK </p>
                    </div>                    
                                         
                </div>

            </div>
            <div class="col-lg-5">
                <div class="card hash-card">
                    <div class="card-block text-center">
                        <h1 class="text-muted">Given Feedback</h1>
                    </div>
                    <hr/>
                </div>
                <div class="card hash-card" ng-repeat="feedback in feedbacks">

                    <div ng-if="feedback.buyer_id === user_id">
                        <input-popup ng-if="user_id === current_user_id" class="pull-right" popup-id="edit_{{feedback.feedback_auction_id}}" title="edit_popupTitle" inputs="edit_inputs"
                            submit-name="edit_submitName" submit-fn="edit_feedback(feedback)"
                            setup-fn="setup_edit(feedback, 'buyer_')"
                            btn-class="btn btn-info fa fa-edit">     
                        </input-popup>
                        <h4 class="text-muted"><a ng-href="#/feedback?{{feedback.seller_id}}">@{{feedback.other_username}}</a> by @{{username}} <small ng-if="feedback.buyer_rating">{{feedback.buyer_rating}}/100</small> <small>(buyer)</small></h4>
                        <p> {{feedback.buyer_text}}</p>
                        <p ng-if="!feedback.buyer_text"> PLEASE LEAVE FEEDBACK </p>
                    </div>
                    <div ng-if="feedback.seller_id === user_id">
                        <input-popup ng-if="user_id === current_user_id" class="pull-right" popup-id="edit_{{feedback.feedback_auction_id}}" title="edit_popupTitle" inputs="edit_inputs"
                            submit-name="edit_submitName" submit-fn="edit_feedback(feedback)"
                            setup-fn="setup_edit(feedback, 'seller_')"
                            btn-class="btn btn-info fa fa-edit">     
                        </input-popup>
                        <h4 class="text-muted"><a ng-href="#/feedback?{{feedback.buyer_id}}">@{{feedback.other_username}}</a> by @{{username}} <small ng-if="feedback.seller_rating">{{feedback.seller_rating}}/100</small> <small>(seller)</small></h4>
                        <p> {{feedback.seller_text}}</p>
                        <p ng-if="!feedback.seller_text"> PLEASE LEAVE FEEDBACK </p>
                    </div>                    
                                         
                </div>
            </div>
        </div>   
        
    </div>

    
</section>
