<section>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="card">
                    <div class="card-block">
                      <h1 class="card-title">Items and Auctions</h1>
                        <input-popup popup-id="items" title="popupTitle" inputs="inputs"
                            submit-name="submitName" submit-fn="add_item()"
                            btn-class="btn btn-block btn-info glyphicon glyphicon glyphicon-plus-sign">     
                        </input-popup>
                      <hr class="light">
                    </div>
                  </div>
           </div>
        </div> 
        
        <div class="row">
        <div class="col-lg-6">  
            <h3 class="text-center">Auctions</h3>
            <hr/>
        <div ng-repeat="item in auction_items">
            
            <div class="row">   

                <div class="col-lg-12">
                    <a style="color:#000000 !important;
                        text-decoration:none;"
                        ng-href="#/auction?{{item.auction_id}}">
                    <div class="card hash-card">
                        
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-if="item.image_ref" height="100%" width="100%" ng-src="{{item.image_ref}}"/>
                                <img ng-if="!item.image_ref" height="100%" width="100%" ng-src="http://www.mariowiki.com/images/thumb/0/02/Question_Block_NSMB.png/120px-Question_Block_NSMB.png"/>
                            </div>
                            <div class="col-sm-8">
                                <h4>{{item.title}} <small class="text-muted">
                                        (at auction ends in <time-difference date="item.end_time">
                                            
                                        </time-difference>)</small></h4>

                                  
                                <p class="card-text">
                                    {{item.description}}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    </a>
                </div> 
            </div>
            
            <br/>
        </div>        
        </div>

        
        <!--<hr class="light">-->
        <div class="col-lg-6">
            <h3 class="text-center">Items</h3>
            <hr/>
            
            <div class="col-lg-12 text-center">
                <dir-pagination-controls></dir-pagination-controls>
            </div>
            
        <div dir-paginate="item in items | itemsPerPage: 10">
            <div class="row">   

                <div class="col-lg-12">
                    <div class="card hash-card">
                   
                            <div ng-if="item.sold" class="ribbon-wrapper"><div class="ribbon-sold">SOLD</div></div>    
                            
                            <div ng-if="!item.sold" class="pull-right " style="padding: 0.25em;">
                                <button ng-click="delete_item(item)" type="button" class="btn btn-info fa fa-times"></button>    
                            </div>
                        
                            <input-popup ng-if="!item.sold" class="pull-right" popup-id="edit_{{item.item_id}}" title="edit_popupTitle" inputs="edit_inputs"
                                submit-name="edit_submitName" submit-fn="edit_item(item)"
                                setup-fn="setup_edit(item)"
                                btn-class="btn btn-info fa fa-edit">     
                            </input-popup>
                        
                            <input-popup ng-if="!item.sold" class="pull-right" popup-id="auction_{{item.item_id}}" title="auction_popupTitle" inputs="auction_inputs"
                                submit-name="auction_submitName" submit-fn="auction_item(item)"
                                btn-class="btn btn-info fa fa-gavel">     
                            </input-popup>

                        
                            
                     
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-if="item.image_ref" height="100%" width="100%" ng-src="{{item.image_ref}}"/>
                                <img ng-if="!item.image_ref" height="100%" width="100%" ng-src="http://www.mariowiki.com/images/thumb/0/02/Question_Block_NSMB.png/120px-Question_Block_NSMB.png"/>
                            </div>
                            <div class="col-sm-6">
                                <h4>{{item.title}}</h4>

                                  
                                <p class="card-text">
                                    {{item.description}}
                                </p>
                                
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
            <br/>
        </div>

        <div class="col-lg-12 text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        </div>
    </div>
    </div>

    
</section>
