<nav ng-controller="navbarCtrl" id="mainNav" class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a ng-if="logged_in" ng-click="watchlist_filter()" class="navbar-brand page-scroll" href="">Following</a>


             <!--<a class="navbar-brand page-scroll" href=""></a>-->
         </div>


         <!--<img height="4%" width="4%" src="img/hashtagories.png"/>-->


         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="col-lg-5 pull-right">
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                 <ul class="nav navbar-nav navbar-right"> 
                    <div class="pull-left" style="margin-top: 0.5em;" angucomplete-alt id="ex1"
                        placeholder="Search words or #tags"
                        maxlength="50"
                        pause="100"
                        selected-object="search_filter"
                        local-data="hashtagories"
                        search-fields="text"
                        title-field="text"
                        minlength="1"
                        input-class="form-control form-control-small"
                        match-class="highlight"></div>
<!--                 <form class="navbar-form navbar-left">
                 <div class="input-group stylish-input-group">
                     <input type="text" ng-model="search_query" class="form-control"  placeholder="Search" >
                     <span class="input-group-addon">
                         <button ng-click="search_filter()" type="submit">
                             <span class="glyphicon glyphicon-search"></span>
                         </button>  
                     </span>
                 </div>
                 </form> -->

                     <li >
                         <a class="page-scroll" href="" ng-click="home_feed()">Home</a>
                     </li>
                     <li >

                         <a ng-if="logged_in" id="menu" class="page-scroll dropdown" href="" data-toggle="dropdown">
                             Account

                             <ul class="dropdown-menu">
                               <li><a href="#/account">Account Settings</a></li>
                               <li><a href="#/items">Items</a></li>
                               <li><a href="#/feedback">Feedback</a></li>
                               <li class="divider"></li>
                               <li><a href="#" ng-click="log_out()">Log out</a></li>
                             </ul>

                         </a>

                         <a ng-if="!logged_in" data-toggle="modal" data-target="#login" href="">Log In</a>

                     </li>

                 </ul>

             </div>
         </div>


     </div>


 </nav>

 <hash-popup class="pull-right"  popup-id="login" title="popupTitle" inputs="inputs"
     submit-name="submitName" submit-fn="log_in()"
     btn-class="">
     <a data-toggle="modal" data-dismiss="modal" data-target="#register" href="">
         Register Here!
     </a>
 </hash-popup>
 <hash-popup class="pull-right"  popup-id="register" title="reg_popupTitle" inputs="reg_inputs"
     submit-name="reg_submitName" submit-fn="register()"
     btn-class="">

 </hash-popup>